@mixin title($ft-size, $margin-bottom) {
    font-size: $ft-size;
    margin-bottom: $margin-bottom;
    color: red;
}

@mixin section($padding, $min-height){
    padding: $padding;
    min-height: $min-height;
}